@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+TC:wght@100..900&display=swap);

:root {
    --colorFDBF00: #FDBF00;
    --colorececec: #ececec;
    --color000000: #000000;
    --color333333: #333333;
    --color666666: #666666;
    --color999999: #999999;
}

/* 適用於 Chrome、Safari、Edge 隱藏滾動條 */
::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Noto Sans TC", sans-serif;
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

html {
    /* set basic font size for rem */
    font-size: 20px;
}