.wrapper{
    /* set body layout */
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* set body background */
    background: var(--color999999) ;
}

.container-sm{
    /* set container-sm layout */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.card{
    /* set card layout */
    width: 50%;
    /* set card background */    
    background: var(--colorececec);
}

.form-label{
    /* set form-label color */
    color: var(--color333333);
}


.btn-warning{
    /* set btn color & background */
    color: var(--color333333);
    background: var(--colorFFA90D);
}

.btn-warning:hover{
    color: var(--colorececec)!important;
    background: var(--color333333)!important;
    border-color: var(--color333333)!important;
}

.btn-warning:focus{
    color: var(--colorececec)!important;
    background: var(--color333333)!important;
    border-color: var(--color333333)!important;
    box-shadow: 0 0 0 .25rem var(--color999999)!important;
}



/* 在 sm 以下寬度時設置卡片寬度為100% */
@media (max-width: 576px) {
    .card {
        width: 100%; 
    }
}